body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #222;
  color: #f1f1f1;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
